@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  base
// ---------------------------------------------

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: $font-sans;
  font-size: var(--fz16);
  font-weight: 400;
  line-height: 1.6;
  color: $color-body;
}

// font-sizeは下記の用に指定
// font-size: var(--fz14);

.wrap {
  // min-width: 1200px;
  margin: auto;

  @include max-mq {
    width: 100%;
    min-width: auto;
  }
}

.container {
  box-sizing: border-box;
  width: min(1650px, 100%); // デザインの幅 + padding
  padding: 0 min(4vw, 25px);
  margin: auto;

  @include max-mq {
    width: 100%;
  }
}

// .test {
//   padding-left: px-to-vw(24px);
//   font-size: px-to-vw(20px);
// }

main {
  display: block;

  // for ipad portrait mode

  @media (min-width: 768px) and (max-width: 769px) and (orientation: portrait) {
    min-height: 95vh;
  }
}

// グーグルマップ
.googlemap {
  position: relative;

  &::before {
    display: block;
    padding-top: 46%; // 【マップの高さ】高さ/幅*100%
    content: "";
  }

  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  @include max-mq {
    &::before {
      padding-top: 450px;
    }
  }
}

// ---------------------------------------------
//  ヘッダー関連 header
// ---------------------------------------------

.header {
  // .header--logo
  &--logo {
    a {
      display: block;
    }
  }

  // .header--inner
  &--inner {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 111111;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: min(1850px, 100%);
    padding: 23px 50px;
    margin: auto;
    transform: translateX(-50%);

    @media (width <= 1450px) {
      gap: 30px;
      justify-content: center;
      padding: 25px 10px;
    }

    @media (width <= 1024px) {
      position: static;
      display: block;
      padding: 15px 10px;
      transform: none;
    }
  }

  // .header--link
  &--link {
    box-sizing: border-box;
    width: min(235px, 100%);
    padding: 10px;
    font-weight: bold;
    line-height: 1.2;
    color: #000080 !important;
    text-align: center;
    background: url(../img/common/search.svg) no-repeat right 10% center / 29px, 24px, #fff;
    border-radius: 1000px;

    span {
      display: block;
      font-size: var(--fz12);
      font-weight: bold;
    }

    @media (width <= 1280px) {
      width: min(200px, 100%);
    }

    @include tb-mq {
      width: fit-content;
      padding: 10px 50px;
    }

    @include max-mq {
      margin: auto;
      background: url(../img/common/search.svg) no-repeat right 8% center / 15%, #fff;
    }
  }

  // .header--nav
  &--nav {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    width: min(995px, 100%);
    letter-spacing: 0.05em;

    @media (width <= 1450px) {
      gap: 40px;
      justify-content: flex-end;
      width: min(865px, 100%);
    }

    @media (width <= 1280px) {
      gap: 30px;
      width: min(760px, 100%);
    }
  }
}


// ---------------------------------------------
//  グローバルナビゲーション関連 gnav
// ---------------------------------------------

.gnav_btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
  display: none; // PC時非表示
  width: 44px;
  height: 44px;
  cursor: pointer;
  background: $color-blue1;
  border: solid 2px #fff;
  border-radius: 4px;

  span {
    position: absolute;
    left: 15%;
    display: block;
    width: 70%;
    height: 3px;
    background: #fff;
    transition: 0.3s;

    &:first-child {
      top: 23%;
    }

    &:nth-child(2) {
      top: 48%;
      opacity: 1;
    }

    &:last-child {
      top: 72%;
    }
  }

  &.is-open {
    span {
      transition: 0.2s;

      &:first-child {
        top: 48%;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        display: none;
        opacity: 0;
      }

      &:last-child {
        top: 48%;
        transform: rotate(-45deg);
      }
    }
  }

  @media (width <= 1024px) {
    display: block; // PC時表示
  }
}

.gnav {
  display: block;

  ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    &::after {
      position: absolute;
      top: 50%;
      right: -54px;
      display: inline-block;
      width: 3px;
      height: 100%;
      content: "";
      background: #fff;
      transform: translateY(-50%);
    }
  }

  a {
    display: block;
    font-weight: bold;
    color: #fff;
  }

  span {
    display: block;
    font-size: var(--fz12);
    text-align: center;
  }

  +.header--link {
    @media (width <= 1024px) {
      display: none;
    }
  }

  @media (width <= 1450px) {
    ul {
      gap: 30px;

      &::after {
        right: -20px;
      }
    }
  }

  @media (width <= 1280px) {
    ul {
      &::after {
        right: -17px;
      }
    }
  }

  @include tb-mq {
    position: fixed;
    top: 0;
    right: -110%;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba($color-blue1, 0.95);
    transition: 0.5s;

    &.is-open {
      right: 0;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100lvh;
      padding: 60px 20px 20px;

      &::after {
        display: none;
      }
    }

    li {
      margin-bottom: 30px;
    }

    a {
      margin: auto;
      font-size: var(--fz18);
    }

    span {
      display: block;
      margin-bottom: 5px;
      font-size: var(--fz12);
      opacity: 0.8;
    }
  }
}

// ---------------------------------------------
//  フッター関連 footer
// ---------------------------------------------

.footer {
  position: relative;
  padding-top: 60px;
  margin: 30px auto 0;
  background: $color-blue1;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    justify-content: center;
    padding: 60px min(4vw, 25px) 60px;
    border-bottom: 2px solid #fff;
  }

  li {
    a {
      display: block;
      font-weight: bold;
      color: #fff;
    }

    span {
      display: block;
      font-size: var(--fz12);
      text-align: center;
    }
  }

  small {
    display: block;
    padding: 20px 0 30px;
    font-size: var(--fz14);
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  .header--link {
    width: 235px;
  }

  &::before {
    position: absolute;
    top: -30px;
    left: 50%;
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background: $color-blue1;
    transform: translateX(-50%);
  }

  // .footer--logo
  &--logo {
    text-align: center;
    background: #fff;

    a {
      display: block;
      width: fit-content;
      padding: 25px 0;
      margin: auto;
    }
  }

  @include max-mq {
    ul {
      padding: 50px 0;
    }
  }
}

// ---------------------------------------------
//  アイキャッチ
// ---------------------------------------------

.eyecatch {
  position: relative;

  &.-news {
    img {
      width: 100%;
      height: auto;
    }
  }

  @media (width <= 1450px) {
    img {
      height: 400px;
      object-fit: cover;
    }
  }

  @include tb-mq {
    img {
      height: auto;
    }
  }

  @include max-mq {
    img {
      height: 40vw;
      object-fit: cover;
      object-position: 80%;
    }
  }
}

.page_ttl {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 100%;
  max-width: 98.95833333333334vw;
  margin: auto;
  font-family: $font-hiragino;
  color: #fff;
  transform: translateX(-50%);

  h2 {
    margin-left: 10px;
    font-size: 2.5vw;
    -webkit-text-stroke-width: 1px;
  }

  span {
    font-size: 8.854166666666668vw;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.05em;
    -webkit-text-stroke-width: 5px;
  }
}
