@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  汎用パーツ
// ---------------------------------------------

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

// レスポンシブ table　表
table {
  width: 100%;

  @include max-mq {
    &.table {
      display: block;

      tbody,
      tr,
      th,
      td {
        box-sizing: border-box;
        display: block;
        width: 100% !important;
      }
    }
  }
}

.ttl_sec {
  font-family: $font-hiragino;
  font-weight: 600;
  -webkit-text-stroke-width: 7px;
}

.is_current {
  position: relative;

  &::after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 120%;
    height: 3px;
    content: "";
    background: #fff;
    transform: translateX(-50%);
  }

  @include max-mq {
    &::after {
      bottom: -10px;
      width: 50%;
    }
  }
}

.js_target {
  opacity: 0;
}

.is_fadein {
  opacity: 0;
  transition-duration: 2s;

  &.active {
    opacity: 1;
  }
}

.txt_animation_underup {
  display: flex;
  overflow: hidden;

  p {
    margin: 0;
    font-size: 2.5vw;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.06em;
    transform: translateY(2em);
    animation: textanimation 1s forwards;
    -webkit-text-stroke-width: 0;

    &:nth-child(1) {
      animation-delay: 0.2s;
    }

    &:nth-child(2) {
      animation-delay: 0.4s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }

    &:nth-child(4) {
      animation-delay: 0.8s;
    }

    &:nth-child(5) {
      animation-delay: 1s;
    }

    &:nth-child(6) {
      animation-delay: 1.2s;
    }
  }

  @include max-mq {
    p {
      margin-bottom: 5px;
      font-size: var(--fz35);
    }
  }
}

@keyframes textanimation {
  0% {
    transform: translateY(2em);
  }

  100% {
    transform: translateY(0);
  }
}

.txt_animation_underup_lower {
  display: flex;
  overflow: hidden;

  p {
    margin: 0;
    font-size: 2.5vw;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.06em;
    transform: translateY(2em);
    animation: textanimationlower 1s forwards;
    -webkit-text-stroke-width: 0;

    &:nth-child(1) {
      animation-delay: 0.2s;
    }

    &:nth-child(2) {
      animation-delay: 0.4s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }

    &:nth-child(4) {
      animation-delay: 0.8s;
    }

    &:nth-child(5) {
      animation-delay: 1s;
    }

    &:nth-child(6) {
      animation-delay: 1.2s;
    }
  }

  @include max-mq {
    p {
      font-size: 30px;
    }
  }
}

@keyframes textanimationlower {
  0% {
    transform: translateY(2em);
  }

  100% {
    transform: translateY(0);
  }
}


.txt_animation_flow {
  display: flex;
  width: 100%;
  overflow: hidden;

  p {
    flex: 0 0 auto;
    padding-left: 20px;
    font-size: 8.854166666666668vw;
    color: #fff;
    letter-spacing: 0;
    white-space: nowrap;
    animation: loop 40s linear infinite;
  }

  @include max-mq {
    p {
      font-size: var(--fz75);
    }
  }
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}



// SPの時に邪魔されたときの対処コード
// table tbody {
//   display: table-row-group !important;
//   width: auto !important;
// }

// table tr {
//   display: table-row !important;
//   width: auto !important;
// }

// table th, table td {
//   display: table-cell !important;
//   width: auto !important;
// }


.bold {
  // font-weight: boldのとき、文字がにじんで見える場合はこのclassで太字にする（YuGothic Midiumを使わないようにする）
  font-family:
    "Helvetica Neue",
    "Arial",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "YuGothic",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
  font-weight: bold;
}

// ---------------------------------------------
// 下層ページ汎用
// ---------------------------------------------

// パンくずリスト
.breadcrumbs {
  padding: 5px 0;

  li {
    display: inline-block;
    line-height: 1;

    &::before {
      display: inline-block;
      vertical-align: top;
      content: "＞";
    }

    &:first-child::before {
      content: normal;
    }
  }
}

// ページネーション／ページャ
.pagination {
  display: flex;
  justify-content: center;
  margin: 100px 0 0;

  & > span,
  a {
    display: inline-block !important;
    width: 2em;
    padding: 6px 0;
    line-height: 1;
    text-align: center;

    &.current {
      font-weight: bold;
    }
  }

  &:empty {
    display: none;
  }

  @include max-mq {
    margin: 60px 0 0;
  }
}
