@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  事業内容と取り組み専用
// ---------------------------------------------

.business_page {
  padding: 175px 0 210px;
}

.business_concept {
  padding: 0 0 200px;

  strong {
    display: inline-block;
    margin-bottom: 25px;
    font-size: var(--fz24);
    font-weight: bold;
  }

  .ttl_sec {
    color: $color-blue1;
    letter-spacing: 4px;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: $color-blue1;

    span {
      display: flex;
      gap: 35px;
      align-items: center;
      margin-left: 15px;
      font-family: $font-sans;
      font-size: var(--fz20);
      font-weight: 500;
      letter-spacing: 0;
      -webkit-text-stroke-width: 0;

      &::before {
        width: 124px;
        content: "";
        border-top: 3px solid;
      }
    }
  }

  .txt_animation_underup {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    opacity: 1;

    p {
      margin: 0;
      font-size: var(--fz96);
      font-weight: bold;
      line-height: 1.3;
      color: $color-blue1;
      letter-spacing: 0;
      transform: translateY(2em);
      animation: textanimation 0.5s forwards;
      -webkit-text-stroke-width: 4px;

      &:nth-child(1) {
        animation-delay: 0.2s;
      }

      &:nth-child(2) {
        animation-delay: 0.4s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }

      &:nth-child(4) {
        margin-right: 30px;
        animation-delay: 0.8s;
      }

      &:nth-child(5) {
        animation-delay: 1s;
      }

      &:nth-child(6) {
        margin-right: 30px;
        animation-delay: 1.2s;
      }

      &:nth-child(7) {
        animation-delay: 1.4s;
      }

      &:nth-child(8) {
        animation-delay: 1.6s;
      }

      &:nth-child(9) {
        animation-delay: 1.8s;
      }

      &:nth-child(10) {
        animation-delay: 2s;
      }

      &:nth-child(11) {
        animation-delay: 2.2s;
      }

      &:nth-child(12) {
        animation-delay: 2.4s;
      }

      &:nth-child(13) {
        animation-delay: 2.6s;
      }

      &:nth-child(14) {
        animation-delay: 2.8s;
      }

      &:nth-child(15) {
        animation-delay: 3s;
      }
    }
  }

  // .business_concept--lead
  &--lead {
    font-size: var(--fz32);
    font-weight: bold;
    color: $color-blue1;
    letter-spacing: 0.15em;

    span {
      font-size: var(--fz64);
      vertical-align: sub;
      background: linear-gradient(168.41deg, $color-blue1 33.64%, #00e1ec 73.81%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  // .business_concept--txt
  &--txt {
    line-height: 1.8;
  }
}

.business_possible {
  padding: 0 0 180px;

  span {
    display: block;
    margin-bottom: 20px;
    font-size: var(--fz20);
    font-weight: 500;
    color: $color-blue1;
    text-align: center;
  }

  table {
    box-sizing: border-box;
    display: block;
    width: 700px;
    padding: 30px 70px;
    margin: 0 auto 130px;
    background: #eff8ff;

    th {
      width: 170px;
      font-size: var(--fz20);
      font-weight: bold;
      text-align: left;
    }

    td {
      font-size: var(--fz20);
      text-align: left;
    }
  }

  dl {
    border-bottom: 1px dashed #001f63;
  }

  dt {
    font-size: var(--fz20);
    font-weight: 500;
  }

  dd {
    font-weight: 500;
    line-height: 1.8;
    color: #777;
  }

  .txt_animation_underup {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    opacity: 1;

    p {
      margin: 0;
      font-size: var(--fz96);
      font-weight: bold;
      line-height: 1.3;
      color: $color-blue1;
      letter-spacing: 0;
      transform: translateY(2em);
      animation: textanimation 0.5s forwards;
      -webkit-text-stroke-width: 4px;

      &:nth-child(1) {
        animation-delay: 0.2s;
      }

      &:nth-child(2) {
        animation-delay: 0.4s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }

      &:nth-child(4) {
        animation-delay: 0.8s;
      }

      &:nth-child(5) {
        animation-delay: 1s;
      }

      &:nth-child(6) {
        animation-delay: 1.2s;
      }

      &:nth-child(7) {
        animation-delay: 1.4s;
      }

      &:nth-child(8) {
        animation-delay: 1.6s;
      }

      &:nth-child(9) {
        animation-delay: 1.8s;
      }

      &:nth-child(10) {
        animation-delay: 2s;
      }

      &:nth-child(11) {
        animation-delay: 2.2s;
      }

      &:nth-child(12) {
        animation-delay: 2.4s;
      }

      &:nth-child(13) {
        animation-delay: 2.6s;
      }

      &:nth-child(14) {
        animation-delay: 2.8s;
      }

      &:nth-child(15) {
        animation-delay: 3s;
      }

      &:nth-child(16) {
        animation-delay: 3.2s;
      }
    }
  }

  // .business_possible--lead
  &--lead {
    margin-top: 30px;
    font-size: var(--fz32);
    font-weight: bold;
    line-height: 1.7;
    text-align: center;
  }

  // .business_possible--train
  &--train {
    margin-bottom: 40px;
    font-size: var(--fz24);
    font-weight: 600;
    text-align: center;

    img {
      vertical-align: middle;
    }
  }

  @include max-mq {
    table {
      width: 100%;
    }
  }
}

.business_safety {
  padding: 90px 0 80px;
  background: #eff8ff;

  h2 {
    margin-bottom: 25px;
    font-size: var(--fz35);
    font-weight: bold;
    color: #001f63;
    letter-spacing: 0.15em;
  }

  p {
    max-width: 890px;
    margin: 0 auto 100px;
    font-size: var(--fz20);
  }

  ol {
    max-width: 100%;
  }

  li {
    width: 394px;
    padding: 33px 15px 30px;
    background: #fff;

    &:nth-child(even) {
      top: 0;
    }
  }

  dd {
    width: 320px;
    margin: auto;
  }

  @include max-mq {
    p {
      margin: 0 auto 60px;
      font-size: var(--fz18);
    }
  }
}

.business_days {
  padding: 150px 0 0;
  margin-bottom: 90px;

  span {
    display: block;
    font-family: $font-sans;
    font-size: var(--fz20);
    font-weight: 500;
    color: $color-blue1;
    text-align: center;
    letter-spacing: 0;
    -webkit-text-stroke-width: 0;
  }

  .txt_animation_underup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 1;

    &::before,
    &::after {
      flex-grow: 1;
      content: "";
      border-bottom: 2px dashed $color-blue1;
    }

    p {
      margin: 0;
      font-size: var(--fz96);
      font-weight: bold;
      line-height: 1.3;
      color: #fff;
      letter-spacing: 0;
      transform: translateY(2em);
      animation: textanimation 0.5s forwards;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $color-blue1;

      &:nth-child(1) {
        animation-delay: 0.2s;
      }

      &:nth-child(2) {
        animation-delay: 0.4s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }

      &:nth-child(4) {
        margin-right: 30px;
        animation-delay: 0.8s;
      }

      &:nth-child(5) {
        animation-delay: 1s;
      }

      &:nth-child(6) {
        margin-right: 30px;
        animation-delay: 1.2s;
      }

      &:nth-child(7) {
        animation-delay: 1.4s;
      }

      &:nth-child(8) {
        animation-delay: 1.6s;
      }

      &:nth-child(9) {
        animation-delay: 1.8s;
      }

      &:nth-child(10) {
        animation-delay: 2s;
      }

      &:nth-child(11) {
        animation-delay: 2.2s;
      }

      &:nth-child(12) {
        animation-delay: 2.4s;
      }

      &:nth-child(13) {
        animation-delay: 2.6s;
      }

      &:nth-child(14) {
        animation-delay: 2.8s;
      }

      &:nth-child(15) {
        animation-delay: 3s;
      }

      &:nth-child(16) {
        animation-delay: 3.2s;
      }

      &:nth-child(17) {
        animation-delay: 3.4s;
      }

      &:nth-child(18) {
        animation-delay: 3.6s;
      }
    }
  }

  .txt_animation_underup_lower {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    opacity: 1;

    p {
      margin: 0;
      font-size: var(--fz96);
      font-weight: bold;
      line-height: 1.3;
      color: #fff;
      letter-spacing: 0;
      transform: translateY(2em);
      animation: textanimationlower 1s forwards;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #001f63;

      &:nth-child(1) {
        animation-delay: 0.2s;
      }

      &:nth-child(2) {
        animation-delay: 0.4s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }

      &:nth-child(4) {
        animation-delay: 0.8s;
      }

      &:nth-child(5) {
        animation-delay: 1s;
      }

      &:nth-child(6) {
        animation-delay: 1.2s;
      }
    }
  }
}

.swiper_business {
  img {
    width: 100%;
    height: auto;
  }

  // .swiper_business--wrap
  &--wrap {
    position: relative;
  }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -40px;
}
