@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  事業内容と取り組み専用
// ---------------------------------------------

.business_page {
  padding: 180px 0 210px;

  @include max-mq {
    padding: 100px 0;
  }
}

.business_concept {
  padding: 0 0 200px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 10px 0 40px;
  }

  strong {
    display: inline-block;
    margin-bottom: 15px;
    font-size: var(--fz24);
    font-weight: bold;
  }

  .ttl_sec {
    color: $color-blue1;
    letter-spacing: 4px;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: $color-blue1;

    span {
      display: flex;
      gap: 35px;
      align-items: center;
      font-family: $font-sans;
      font-size: var(--fz20);
      font-weight: 500;
      letter-spacing: 0;
      -webkit-text-stroke-width: 0;

      &::before {
        width: 124px;
        content: "";
        border-top: 3px solid;
      }
    }
  }

  .txt_animation_underup {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3px;
    margin-left: 0;
    overflow: hidden;
    opacity: 1;

    p {
      margin: 0;
      font-size: var(--fz80);
      font-weight: bold;
      line-height: 1.3;
      color: $color-blue1;
      letter-spacing: 0;
      transform: translateY(2em);
      animation: textanimation 0.5s forwards;
      -webkit-text-stroke-width: 4px;

      &:nth-child(1) {
        animation-delay: 0.2s;
      }

      &:nth-child(2) {
        animation-delay: 0.4s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }

      &:nth-child(4) {
        margin-right: 30px;
        animation-delay: 0.8s;
      }

      &:nth-child(5) {
        animation-delay: 1s;
      }

      &:nth-child(6) {
        margin-right: 30px;
        animation-delay: 1.2s;
      }

      &:nth-child(7) {
        animation-delay: 1.4s;
      }

      &:nth-child(8) {
        animation-delay: 1.6s;
      }

      &:nth-child(9) {
        animation-delay: 1.8s;
      }

      &:nth-child(10) {
        animation-delay: 2s;
      }

      &:nth-child(11) {
        animation-delay: 2.2s;
      }

      &:nth-child(12) {
        animation-delay: 2.4s;
      }

      &:nth-child(13) {
        animation-delay: 2.6s;
      }

      &:nth-child(14) {
        animation-delay: 2.8s;
      }

      &:nth-child(15) {
        animation-delay: 3s;
      }
    }
  }

  // .business_concept--inner
  &--inner {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 6.25vw;
    align-items: flex-start;
    justify-content: center;

    @media (width <= 1280px) {
      gap: 5vw;
    }

    @include tb-mq {
      display: block;
    }
  }

  // .business_concept--lead
  &--lead {
    margin-top: -20px;
    font-size: var(--fz32);
    font-weight: bold;
    color: #001f63;
    text-align: center;
    letter-spacing: 0.15em;

    span {
      font-size: var(--fz64);
      vertical-align: sub;
      background: linear-gradient(168.41deg, $color-blue1 33.64%, #00e1ec 73.81%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @include tb-mq {
      margin-top: 0;
      margin-bottom: 25px;
      line-height: 1;
    }

    @include max-mq {
      font-size: var(--fz25);

      span {
        font-size: var(--fz40);
      }
    }
  }

  // .business_concept--txt
  &--txt {
    line-height: 1.8;
  }

  // .business_concept--content
  &--content {
    width: 50%;

    @media (width <= 1280px) {
      width: 60%;
    }

    @include tb-mq {
      width: 100%;
    }

    @include max-mq {
      ul {
        gap: 0;
        row-gap: 10px;
        column-gap: 15px;
        width: 60%;
        margin: 0 auto 30px;
      }

      li {
        width: 45%;

        &:nth-child(2n+1) {
          text-align: right;
        }
      }
    }
  }

  // .business_concept--img
  &--img_pc {
    width: 40%;

    @media (width <= 1280px) {
      width: 30%;
    }

    @include tb-mq {
      display: none;
    }
  }

  // .business_concept--img
  &--img_sp {
    display: none;

    @include tb-mq {
      display: block;
      width: 62%;
      margin: 25px auto 30px;
    }
  }

  @include tb-mq {
    .ttl_sec {
      width: fit-content;
      margin: auto;
    }
  }

  @include max-mq {
    padding: 0 0 90px;

    strong {
      display: block;
      margin: 0 auto 15px;
      font-size: var(--fz16);
      text-align: center;
    }

    .ttl_sec {
      span {
        margin-bottom: 20px;
        font-size: var(--fz14);

        &::before {
          width: 60px;
        }
      }
    }

    .txt_animation_underup {
      p {
        font-size: 16vw;
        -webkit-text-stroke-width: 3px;
        line-height: 1.1;
      }
    }
  }
}

.business_possible {
  padding: 0 0 180px;

  span {
    display: block;
    margin-bottom: -20px;
    font-size: var(--fz20);
    font-weight: 500;
    color: $color-blue1;
    text-align: center;
  }

  table {
    box-sizing: border-box;
    display: block;
    width: 700px;
    padding: 30px 70px;
    margin: 0 auto 125px;
    background: #eff8ff;

    th {
      width: 170px;
      font-size: var(--fz20);
      font-weight: bold;
      text-align: left;
    }

    td {
      font-size: var(--fz20);
      text-align: left;
    }
  }

  dl {
    border-bottom: 1px dashed #001f63;
  }

  dt {
    margin-bottom: 20px;
    font-size: var(--fz20);
    font-weight: 500;
  }

  dd {
    font-weight: 500;
    line-height: 1.8;
    color: #777;
  }

  ul {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 30px;
  }

  .txt_animation_underup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    opacity: 1;

    p {
      font-size: var(--fz96);
      font-weight: bold;
      line-height: 1.3;
      color: $color-blue1;
      letter-spacing: 0;
      transform: translateY(2em);
      animation: textanimation 0.5s forwards;
      -webkit-text-stroke-width: 4px;

      &:not(:last-child) {
        margin: 0 10px 0 0;
      }

      &:nth-child(1) {
        animation-delay: 0.2s;
      }

      &:nth-child(2) {
        margin-right: 35px;
        animation-delay: 0.4s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }

      &:nth-child(4) {
        animation-delay: 0.8s;
      }

      &:nth-child(5) {
        animation-delay: 1s;
      }

      &:nth-child(6) {
        animation-delay: 1.2s;
      }

      &:nth-child(7) {
        margin-right: 35px;
        animation-delay: 1.4s;
      }

      &:nth-child(8) {
        animation-delay: 1.6s;
      }

      &:nth-child(9) {
        margin-right: 35px;
        animation-delay: 1.8s;
      }

      &:nth-child(10) {
        animation-delay: 2s;
      }

      &:nth-child(11) {
        animation-delay: 2.2s;
      }

      &:nth-child(12) {
        animation-delay: 2.4s;
      }

      &:nth-child(13) {
        animation-delay: 2.6s;
      }

      &:nth-child(14) {
        animation-delay: 2.8s;
      }

      &:nth-child(15) {
        animation-delay: 3s;
      }

      &:nth-child(16) {
        animation-delay: 3.2s;
      }
    }
  }

  // .business_possible--lead
  &--lead {
    margin: 30px 0;
    font-size: var(--fz32);
    font-weight: bold;
    line-height: 1.7;
    text-align: center;

    @include max-mq {
      margin: 25px 0;
      font-size: var(--fz20);
    }
  }

  // .business_possible--train
  &--train {
    margin-bottom: 40px;
    font-family: $font-hiragino;
    font-size: var(--fz24);
    font-weight: 600;
    text-align: center;

    img {
      vertical-align: middle;
    }

    @include max-mq {
      margin-bottom: 25px;
      font-size: var(--fz16);

      img {
        width: 25px;
        object-fit: contain;
      }
    }
  }

  // .business_possible--list
  &--list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 50px;
    justify-content: center;

    li {
      display: flex;
      gap: 45px;
      justify-content: center;
      width: min(700px, 100%);
    }

    @include max-mq {
      img {
        width: 70%;
      }

      li {
        flex-direction: column;
        gap: 20px;
        row-gap: 30px;
        align-items: center;
      }
    }
  }

  @media (width <= 600px) {
    .txt_animation_underup {
      margin-left: 0;

      img {
        height: 13vw;
        vertical-align: baseline;
      }

      p {
        line-height: 0.8;

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(9),
        &:nth-child(11),
        &:nth-child(12),
        &:nth-child(13), {
          img {
            height: 10vw;
            vertical-align: baseline;
          }
        }

        &:nth-child(7),
        &:nth-child(14), {
          img {
            height: 3vw;
            vertical-align: baseline;
          }
        }

        &:not(:last-child) {
          margin: 0 10px 0 0;
        }

        &:nth-child(3) {
          margin: 0 5px 0 0;
        }

        &:nth-child(2),
        &:nth-child(14),
        &:nth-child(9) {
          margin: 0 15px 0 0;
        }

        &:nth-child(10) {
          margin: 0;
        }
      }
    }
  }

  @include max-mq {
    padding: 0 0 60px;

    span {
      margin-bottom: 0;
    }

    ul {
      gap: 15px;
      margin-bottom: 25px;
    }

    table {
      width: 100vw;
      padding: 30px 15px;
      margin: 0 calc(50% - 50vw) 60px;

      th,
      td {
        display: block;
        font-size: var(--fz14);
      }
    }

    tr {
      &:last-child {
        td {
          margin-bottom: 0;
        }
      }
    }

    th {
      width: 100%;
    }

    td {
      margin-bottom: 20px;
    }

    dt {
      font-size: var(--fz16);
      text-align: center;
    }

    dd {
      padding-bottom: 20px;
      font-size: var(--fz14);
    }

    .txt_animation_underup {
      margin-left: 0;
    }
  }
}

.business_safety {
  padding: 90px 0 80px;
  background: #eff8ff;

  h2 {
    margin-bottom: 25px;
    font-size: var(--fz35);
    font-weight: bold;
    color: #001f63;
    letter-spacing: 0.15em;
  }

  p {
    max-width: 890px;
    margin: 0 auto 100px;
    font-size: var(--fz20);
  }

  ol {
    flex-wrap: wrap;
    max-width: 100%;
  }

  li {
    width: 394px;
    padding: 33px 15px 30px;
    background: #fff;

    &:nth-child(even) {
      top: 0;
    }
  }

  dd {
    width: 320px;
    margin: auto;
  }

  @include max-mq {
    padding: 60px 0;

    h2 {
      font-size: var(--fz28);
    }

    p {
      margin: 0 auto 40px;
      font-size: var(--fz18);
    }

    li {
      width: 100%;
      padding: 20px;
    }

    dd {
      width: 100%;
    }
  }
}

.business_days {
  padding: 150px 0 0;
  margin-bottom: 90px;

  span {
    display: block;
    font-family: $font-sans;
    font-size: var(--fz20);
    font-weight: 500;
    color: $color-blue1;
    text-align: center;
    letter-spacing: 0;
    -webkit-text-stroke-width: 0;
  }

  .txt_animation_underup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 1;

    &::before,
    &::after {
      flex-grow: 1;
      content: "";
      border-bottom: 2px dashed $color-blue1;
    }

    p {
      margin: 0;
      font-size: var(--fz96);
      font-weight: bold;
      line-height: 1.3;
      color: #fff;
      letter-spacing: 0;
      transform: translateY(2em);
      animation: textanimation 0.5s forwards;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $color-blue1;

      &:nth-child(1) {
        animation-delay: 0.2s;
      }

      &:nth-child(2) {
        animation-delay: 0.4s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }

      &:nth-child(4) {
        margin-right: 30px;
        animation-delay: 0.8s;
      }

      &:nth-child(5) {
        animation-delay: 1s;
      }

      &:nth-child(6) {
        margin-right: 30px;
        animation-delay: 1.2s;
      }

      &:nth-child(7) {
        animation-delay: 1.4s;
      }

      &:nth-child(8) {
        animation-delay: 1.6s;
      }

      &:nth-child(9) {
        animation-delay: 1.8s;
      }

      &:nth-child(10) {
        animation-delay: 2s;
      }

      &:nth-child(11) {
        animation-delay: 2.2s;
      }

      &:nth-child(12) {
        animation-delay: 2.4s;
      }

      &:nth-child(13) {
        animation-delay: 2.6s;
      }

      &:nth-child(14) {
        animation-delay: 2.8s;
      }

      &:nth-child(15) {
        animation-delay: 3s;
      }

      &:nth-child(16) {
        animation-delay: 3.2s;
      }

      &:nth-child(17) {
        animation-delay: 3.4s;
      }

      &:nth-child(18) {
        animation-delay: 3.6s;
      }
    }
  }

  .txt_animation_underup_lower {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    opacity: 1;

    p {
      margin: 0;
      font-size: var(--fz96);
      font-weight: bold;
      line-height: 1.3;
      color: #fff;
      letter-spacing: 0;
      transform: translateY(2em);
      animation: textanimationlower 1s forwards;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #001f63;

      &:nth-child(1) {
        animation-delay: 0.2s;
      }

      &:nth-child(2) {
        animation-delay: 0.4s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }

      &:nth-child(4) {
        animation-delay: 0.8s;
      }

      &:nth-child(5) {
        animation-delay: 1s;
      }

      &:nth-child(6) {
        animation-delay: 1.2s;
      }
    }
  }

  @media (width <= 1280px) {
    .txt_animation_underup {
      p {
        font-size: var(--fz80);
        line-height: 1.1;


        &:nth-child(4),
        &:nth-child(6) {
          margin-right: 15px;
        }
      }
    }
  }

  @include tb-mq {
    .txt_animation_underup {
      margin-left: 0;

      &::before,
      &::after {
        content: none;
      }
    }
  }

  @include max-mq {
    padding: 90px 0 0;
    margin-bottom: 40px;

    .txt_animation_underup {
      margin-left: 0;

      p {
        font-size: var(--fz65);
      }
    }
  }
}

.swiper_business {
  img {
    width: 100%;
    height: auto;
  }

  // .swiper_business--wrap
  &--wrap {
    position: relative;
  }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -40px;
}
