@charset "UTF-8";
@use "../variables"as *;

// ---------------------------------------------
//  contact_importフォルダを読み込む
// ---------------------------------------------

// contact form
@forward "../import/form";

// エラーメッセージ用ツールチップ
@forward "../import/form-tooltip";

// ---------------------------------------------
//  contact用の追加クラス
// ---------------------------------------------

.contact_page {
  padding: 150px min(4vw, 25px) 200px;

  @include max-mq {
    padding: 100px min(4vw, 25px) 100px;
  }
}

.contact_lead {
  text-align: center;

  // .contact_lead--number
  &--number {
    margin-bottom: 10px;
    font-family: $font-hiragino;
    font-size: var(--fz32);
    font-weight: 900;
    letter-spacing: 0.1em;

    +p {
      margin-bottom: 80px;
    }

    @include max-mq {
      font-size: var(--fz25);
    }
  }

  img {
    margin-bottom: 30px;
  }

  p {
    font-weight: bold;
    color: $color-blue1;
  }
}

#loading {
  display: none;
}

.thanks {
  padding: 20px;
  font-size: var(--fz18);
  text-align: center;
}

.privacy {
  max-width: 820px;
  max-height: 190px;
  padding: 1em;
  margin: 0 auto 30px;
  overflow-y: scroll;
  background: #f9f9f9;
  border: 1px solid #ccc;
}

.wpcf7-submit:disabled {
  background: #999;
}

.select_wrap {
  position: relative;

  select {
    width: 100%;
    max-width: 550px;
    padding: 10px 25px;
    color: #333; /* option選択時の文字色 */
    background: url(../img/common/arrow_select.svg) no-repeat right 10px center / 13px, #f4f6f7;
    border: none;
    border-radius: 10px;
    appearance: none;
  }

  select::-ms-expand {
    display: none; /* デフォルトの矢印を非表示(IE用) */
  }

  select.is-empty {
    color: #c4c4c4; /* placeholder(初期値)の文字色 */
  }
}

::placeholder {
  color: #c4c4c4;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required,
textarea.wpcf7-form-control.wpcf7-textarea {
  width: 100%;
  max-width: 550px;
  padding: 13px 25px;
  background: #f4f6f7;
  border: none;
  border-radius: 10px;

  @include max-mq {
    max-width: 100%;
  }
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.your-address1 {
  width: 165px;
}

textarea.wpcf7-form-control.wpcf7-textarea {
  height: 150px;
}


.contact_catch {
  padding: 150px 0 0;

  a {
    margin: 0;
    -webkit-text-stroke-width: 0;
  }

  .txt_animation_underup {
    margin-left: 0 !important;
  }

  // .contact_catch--inner
  &--inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    gap: 3.3854166667vw;
    justify-content: center;
    width: 100%;
    max-width: 1160px;
    padding: 60px min(4vw, 25px);
    margin: auto;
    border-top: 1px dashed #777;
    border-bottom: 1px dashed #777;

    @include tb-mq {
      flex-direction: column;
      align-items: center;

      .ttl_sec + img {
        display: block;
        margin: auto;
      }
    }
  }

  // .contact_catch--img
  &--img {
    width: 43%;
    padding-top: 10px;

    @include tb-mq {
      width: 60%;
    }

    @include max-mq {
      width: 100%;
      text-align: center;
    }
  }

  .txt_animation_underup p:nth-child(6) {
    width: auto !important;
  }

  @include tb-mq {
    a {
      display: block;
      margin: auto;
      font-size: var(--fz16);
    }
  }

  @include max-mq {
    .txt_animation_underup {
      justify-content: center;

      p {
        font-size: 16vw;
      }
    }
  }
}
